.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;

  
}
.login_Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.login_Header img {
  width: 100px;
}
.login_Header h1 {
  color: #333;
  font-size: 1.5em;
}
.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
  outline: none;
  padding: 15px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.login__button {
  background-color: #ee665c;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.login__button:disabled {
  background: #bfbdbd;
  color: #999;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rotate-image {
    animation: rotate 5s infinite linear;
  }

  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
